/* header ayarları */
header {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

header .logo {
    margin-right: auto;
}

header .logo img {
    display: block;
}

.menu li {
    float: left;
}

.menu li a {
    padding: 26px 15px;
    display: block;
    text-decoration: none;
    color: silver;
    transition: all .5s ease;
}

.menu li:hover a {
    background-color: red;
    color: black;
}

/* giriş sayfası (first page) ayarları */

.firstPage {
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) ,url(../img/mainPhoto.jpg);
    background-position: center;
    background-size: cover;
}

.firstPage h1 {
    width: fit-content;
    position: relative;
    top: 150px;
    left: 60px;
    font-size: 200px;
    color: white;
}

.firstPage h3 {
    position: relative;
    width: fit-content;
    font-size: 30px;
    color: white;
    top: 150px;
    left: 60px;
}

.firstPage button {
    position: relative;
    left: 850px;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, .6);
    color: silver;
    font-size: 25px;
    font-weight: bold;
}